<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - test_project</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sticky-header.css" />
</head>
<body>
    <header>
        <partial name="~/Views/Shared/_StickyHeader.cshtml" />        
        <div class="top-header">
            <h1>Коты</h1>
            <partial name="~/Views/Shared/_StickyHeader.cshtml" />
        </div>
    </header>


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - test_project
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
