<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3 sticky-header">
    <div class="container button-container">
        <div class="action-buttons">
            <a class="action-button" asp-area="" asp-controller="Home" asp-action="Index">Делай раз</a>
            <a class="action-button" asp-area="" asp-controller="Home" asp-action="Index">Делай два</a>
            <a class="action-button" asp-area="" asp-controller="Home" asp-action="Index">Делай три</a>
        </div>
        <div class="hidden-buttons">
            <span class="hidden-text">Не смотри сюда</span>
        </div>
        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            </ul>
        </div>*@
    </div>
</nav>
