@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <table>
        @for (var i = 0; i < 99; i++)
        {
            <tr class="filler-row col-md-9">
                <td>кот @i  </td>
            </tr>
        }
    </table>
</div>
